includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    scanDirectories:
        - workbench/app

    level: "max"

    ignoreErrors:
        - identifier: trait.unused
